.loginContainer{
    background: #fff;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
}

.text{
    color: #3c009d;
    font-size: 48px;
    font-weight: 700;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    margin: auto;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.errorMsg {
    color: red;
    font-size: 0.75em;
    margin-bottom: -10px;
  }

.loginBtn{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 19px;
    cursor: pointer;
}
